<!DOCTYPE html>
<html>
<head>
  <title>Failed Login</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<br/> <br/> <br/> <br/>
<h1 align="center">--------------------- Error Page --------------------</h1>
<h1 align="center">Go to http://localhost:3006 to access calculator client</h1>
</body>
</html>